$PurpleBackground-About: radial-gradient(
		50vw 200% at 50% 50%,
		rgba(162, 50, 255, 0.3),
		rgba(44, 11, 76, 0) 87.5%
	),
	linear-gradient(90deg, rgba(44, 11, 76, 0.9), rgba(80, 15, 131, 0.5) 60%, rgba(44, 11, 76, 0.9)),
	linear-gradient(
		35deg,
		rgba(44, 11, 76, 0.3),
		rgba(80, 15, 131, 0.3) 37%,
		rgba(44, 11, 76, 0.3) 0,
		rgba(80, 15, 131, 0.3) 76%,
		rgba(44, 11, 76, 0.3) 0,
		rgba(80, 15, 131, 0.3)
	),
	linear-gradient(90deg, #2c0b4c, #500f83 60%, #2c0b4c);

$PurpleBackgroundAboutDetails: linear-gradient(175deg, #9621ff, #461989);

#About {
	height: 100vh;
	// max-height: 1000px;
	display: flex;
	align-items: center;
	justify-content: center;
	.About-Container {
		height: fit-content;
		// border: 5px solid black;
		border-radius: 30px;
		text-align: left;
		max-width: 800px;
		background-size: auto;
		padding: 20px;
	}
	h1 {
		padding: 0px 0px 30px 0px;
	}
	h2 {
		padding: 0px 0px 20px 0px;
		// text-align: center;
	}
	p {
		padding: 0px 0px 18px 0px;
		// margin-left: 20px;
		// max-width: 500px;
		// margin-left: 1.5em;
		// text-align: center;
		// margin: auto;
		text-shadow: 0 0 0.1px white;
		// 		text-shadow: 0 0 1px white;
	}
	button {
		text-align: center;
		background-color: #eae8ff;
		border: solid 2px black;
		border-radius: 30px;
		padding: 10px 50px;
		box-shadow: 0px 0px 25px 0px black;
	}
	.About_Social {
		margin-top: 25px;
	}
}

.ScrollDown-Centering {
	display: flex;
	justify-content: center;
	margin: 50px 0px;
	// padding-bottom: 200px;
	// position: relative;
	// top: 50px;
	// min-height: 500px;
}

.About-Color {
	// background: $PurpleBackground-About;
	.About-Container {
		// background: $PurpleBackgroundAboutDetails;
	}
}
