$A-Certifcation-Margin: 0em;
$B-Certifcation-Margin: 0.1em;
$C-Certifcation-Margin: 20px;

$Certification-Btn-BorderRadius: 5px;

#Certification {
	.Cert-Container {
		max-width: fit-content;
		margin: 0px auto 0px auto;
		padding-left: 20px;
		padding-right: 20px;
	}
	.Certification-Container-flex {
		// TODO: FSC
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.Cert-Container-Width {
		width: 100%;
		// width: 750px;
		width: 700px;
		// height: 400px; //TODO: Adjust Height
		padding: 2em;
		border-radius: 20px;
		margin-bottom: 3em;
	}
	h1 {
		text-align: center;
	}

	img {
		max-height: 150px;
	}

	p {
		max-width: 650px;
	}

	.align-L {
		text-align: left;
	}

	.underline {
		text-decoration: underline;
	}

	.Certification-Padding-A {
		margin-bottom: $A-Certifcation-Margin;
	}

	.Certification-Padding-B {
		margin-bottom: $B-Certifcation-Margin;
	}

	.Certification-Padding-C {
		margin-bottom: $C-Certifcation-Margin;
	}

	.Certification-Anchor-Btn {
		text-decoration: none;
	}

	.Btn-Container-Horizontal-Flex {
		margin-top: $B-Certifcation-Margin;
	}

	.AnchorLinks-Container-Flex {
		display: flex;
		justify-content: space-between;
		padding-bottom: $B-Certifcation-Margin;
	}

	.Cert-Style-Anchor {
		padding-bottom: $B-Certifcation-Margin;
	}
	.Certification-Anchor-Btn {
		padding: 0px 20px;
		border-radius: $Certification-Btn-BorderRadius;
	}
}
