#address-block {
	// margin: 0 auto;
	// width: fit-content;
}
address {
	display: flex;
	justify-content: center;
}

@mixin TweekLater {
	// min-height: 100vh;
	// height: 92vh;
	// min-height: 1000px;
	// padding-bottom: 30vh;
}
#ContactForm {
	padding-bottom: 20px;
	// height: calc(100vh - 80px);

	#FormContainer {
		max-width: 600px;
		margin: 0 auto;
	}

	h1 {
		text-align: center;
	}
	.Social_Container_Contact {
		margin-bottom: 2em;
	}

	#form_container {
		padding: 25px;
		border-radius: 20px;
		margin: 0px 20px;
		// width: 500px;

		#button {
			display: flex;
			justify-content: center;
			width: 250px;
			// min-width: 100%;
		}
	}

	label {
		display: block;
		padding: 1rem 0 0.5rem 0em;
	}

	.form-example {
		display: flex;
		// justify-content: flex-start;
		align-items: center;
		flex-direction: column;

		input,
		textarea {
			width: 100%;
		}

		textarea {
			height: 250px;
			vertical-align: top;
		}

		input,
		textarea {
			padding: 0.4em;
			font-size: 19px;
		}

		textarea {
			font-family: inherit;
			resize: none;
		}

		#sendButton {
			box-sizing: content-box;
			margin-top: 0.75em;

			// padding: 0.25rem;
			// padding: 0.5rem;
			// margin: 1rem 0;
			cursor: pointer;
			border-radius: 20px;
			font-size: 30px;
		}
	}
	address {
		text-decoration: underline;
		font-weight: bold;
	}
}

.Form-Input-Container {
	min-width: 100%;
}

$Mobile-HeightSwap: 750px;
$Mobile-WidthHeightSwap: 450px;
// TODO: Refactor
@media screen and (max-height: $Mobile-HeightSwap) and(max-width:$Mobile-WidthHeightSwap) {
	#ContactForm {
		height: 100%;
		scroll-margin-top: 7vh;
		.Social_Container_Contact {
			margin-bottom: 1em;
		}
		.form-example {
			textarea {
				height: 175px;
			}
		}
	}
	.TechStack-Title {
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}
} ;
