#address-block {
	margin: auto auto;
	width: fit-content;
	address {
		display: inline-block;
	}
}

#ContactForm {
	height: 92vh;
	#FormContainer {
		width: fit-content;
		margin: 0px auto 0px auto;
	}

	h1 {
		text-align: center;
	}
	.Social_Container_Contact {
		margin-bottom: 2em;
	}

	#form_container {
		padding: 25px;
		border-radius: 20px;

		#button {
			display: flex;
			justify-content: center;
			width: 250px;
			// min-width: 100%;
		}
	}

	label {
		display: block;
		padding: 1rem 0 0.5rem 0em;
	}

	.form-example {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;

		label,
		input,
		textarea {
			width: 500px;
		}

		textarea {
			height: 250px;
			vertical-align: top;
		}
		input,
		textarea {
			padding: 0.4em;
			font-size: 19px;
		}

		textarea {
			font-family: inherit;
			resize: none;
		}

		#sendButton {
			box-sizing: content-box;
			// margin-top: 25px;
			margin-top: 30px;

			// padding: 0.25rem;
			// padding: 0.5rem;
			// margin: 1rem 0;
			cursor: pointer;
			border-radius: 20px;
			font-size: 30px;
		}
	}
	address {
		text-decoration: underline;
		font-weight: bold;
	}
}
