@use "../color.scss" as color;
@use "../mediaQuerry.scss" as mediaQuerry;

$Flex-Basis-Nav: 200.45px;
$nav-icon-box-width: 100.6px;

$NavBar-ViewHeight: 7vh;
$Calc-Nav-VH-2160p: calc(7vh * 0.98);
$Calc-Nav-VH-4320p: calc(7vh * 0.9);
$Nav-Height-Mobile: 55px;
// $Nav-Height-Desktop: 53px; // Base Case
$Nav-Height-Desktop: 70px;

$Nav-Global-Height-Mobile: $Nav-Height-Mobile;
$Nav-Global-Height-Desktop: $Nav-Height-Desktop;

#NavBarHorizontal {
	top: 0px;
	position: sticky;
	z-index: 10;
}

#NavBar-Horizontal-Flex {
	// min-height: 80px;
	height: $Nav-Global-Height-Desktop;
	// max-height: 100px;
	max-width: 1500px;
	margin: 0 auto;

	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;

	.flex-start {
		display: flex;
		justify-content: flex-start;

		flex-basis: $Flex-Basis-Nav;
		// padding-left: 20px;
	}
	.flex-center {
		display: flex;
		justify-content: space-evenly;
		.align-padding {
			padding: 0px 1em;
			margin-top: 3px;
		}

		flex-grow: 1;
		// flex-shrink: 1;
		// flex-basis: 200px;
		max-width: fit-content;
	}
	.flex-end {
		display: flex;
		justify-content: flex-end;
		flex-basis: $Flex-Basis-Nav;
		align-items: center;
		// margin-left: 20px;
	}
	#nav-icon-box {
		margin-right: 20px;
	}

	#nav-contact-btn {
		padding: 0.1em 1em;
		border: 1.5px solid #000;
		border-radius: 5px;
		text-decoration: none;
		&:focus {
			// TODO: Do l want focus on contact btn...
			// outline: 1px solid rgb(110, 110, 110);
		}
	}
}

#Center-Logo {
	display: none;
}

// # Navigation Break Points
// ~ Media Querry for Nav_Bar_Vertical - Horizontal Nav Bar

.fas,
.fa-bars,
.fa-times {
	font-size: 54.8px;
}

$Shrink-Nav-Text: 23px;
$Shink-Nav-Padding: 0.75em;

#nav-links {
	a {
		text-decoration: none;
	}
}
@media screen and (max-width: mediaQuerry.$Nav-BreakPoint-500) {
	#NavBar-Horizontal-Flex .flex-center .align-padding {
		padding: 0px $Shink-Nav-Padding;
	}
}
@media screen and (max-width: mediaQuerry.$Nav-BreakPoint-400) {
	// TODO: Check if you want to actually no longer display
	#nav-icon-box {
		display: none;
	}
}

#Hamburger-block {
	display: none;
}

$Corner-Nav-Flex-Basis: 158px; // big button
$Corner-Nav-Flex-Basis: 137px; // small button
@media screen and (max-width: mediaQuerry.$Nav-BreakPoint-300) {
	#NavBar-Horizontal-Flex .flex-center {
		margin-top: 0px;
		max-width: 100%;
	}

	#NavBarHorizontal {
		#logo-nav {
			display: none;
		}

		.icon {
			/* display: block; */
		}
	}
	#nav-icon-box {
		display: none;
	}
	#Hamburger-block {
		display: block;
		flex-basis: $Corner-Nav-Flex-Basis;

		text-align: right;
	}

	#NavBar-Horizontal-Flex {
		.flex-end {
			display: block;
			flex-basis: auto;
		}
		.flex-center {
			.align-padding {
				margin-top: 0px;
			}
		}
	}
	#Center-Logo {
		display: block;
	}

	$Background-1-OffPurple: #232946;
	.flex-center {
		display: flex;
		width: 100%;
		height: 350px;
		position: absolute;
		top: 70px; // ! Adapt
		left: -100%;
		opacity: 0;
		transition: all 0.5s ease;
		flex-direction: column;
		list-style-type: none;
		grid-gap: 0px;
		// margin-top: 0px;
	}

	.flex-center.active {
		left: 0;
		opacity: 1;
		transition: all 0.5s ease;
		z-index: 50;
		align-content: center;
		padding-left: 0px;

		background-color: $Background-1-OffPurple;
		// max-width: 50%;
		// min-width: 250px;
	}
	.option {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 10vw;
		padding: 30px 0px;
	}
}

@media screen and (max-width: mediaQuerry.$Mobile-BreakPoint-375) {
	#Hamburger-block {
		flex-basis: auto;
	}
}

@media screen and (min-width: mediaQuerry.$Desktop-2160p) {
	#NavBar-Horizontal-Flex {
		height: $Calc-Nav-VH-2160p;
		// height: calc(500px - 100px);
	}
}

@media screen and (min-width: mediaQuerry.$Desktop-4320p) {
	#NavBar-Horizontal-Flex {
		height: $Calc-Nav-VH-4320p;
		// height: calc(7vh - 100px);
		// height: 7vh; // !TODO adjust this so we change dynamically
	}
}
