#ProjectContainer {
	.Project-Title {
		text-align: center;
	}
}

#ProjectSection {
	display: flex;
	justify-content: center;

	.Project-Section-Inner {
		display: flex;
		width: 1500px;
		justify-content: space-evenly;
		align-items: center;

		.Project-AreaA-Section {
			max-height: 500px;
		}

		.Project-AreaB-Section {
			max-width: 500px;
		}
	}
}

.Btn-Container-Horizontal-Flex {
	display: flex;
	justify-content: space-evenly;
}

// # Image
.Project-Image {
	width: 100%;
	height: auto;
	display: block;
}

// # Colors

.Project-Title {
	background-color: aqua;
	background-color: white;
}

.Project-Color {
	#ProjectSection {
		// background-color: aqua;
		background-color: white;
		.Project-Section-Inner {
			background-color: aquamarine;
			background-color: white;
		}
	}
}
