// Overview of TechStack
.TechStack-Title {
	padding-top: 1em;
	padding-bottom: 1em;
}
#TechStack {
	h1,
	h2 {
		text-align: center;
	}
	h2 {
		padding-bottom: 0.5em;
	}
	.Skills-Card-Flex {
		display: flex;
		justify-content: center;
		margin: 0px auto 0 auto;
		padding-bottom: 3.2em;
		padding-left: 20px;
		padding-right: 20px;
		.Center-Card-Padding {
			margin: 0px 8px;
		}
		.Card-Padding-B {
			margin-right: 8px;
		}
	}
	.Skills-ContainerA {
		display: flex;
		max-width: 1600px;
		justify-content: space-between;
	}
	.Skills-ContainerB {
		display: flex;
		max-width: 1248px;
		justify-content: space-between;
	}
}

#Skill-Container {
	border-radius: 15px;

	padding: 1.5em;
	.wrapper {
		display: flex;
		// max-width: fit-content;
		justify-content: space-evenly;
		margin: 0 auto;
	}
	.card_container_Outer_A {
		// border: black 5px solid;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		// max-width: max-content; // TODO: UPDATE T

		// width: fit-content;
		margin: 0px auto;
		// padding: 20px 10px 3px 20px;
		box-sizing: content-box;

		.cards_container_Inner_B {
			flex: 1 0 110px;
			text-align: center;
			// TODO: Update this padding to be removed on smaller screens
			// padding: 0px 2px;
			margin: 0px 7px;
			// margin:
		}

		.img_logos {
			width: 110px;
			height: 110px;
			display: block;
			margin: 0 auto;
		}
	}
	.cards_container_Inner_B:first-of-type {
		margin-left: 0px;
	}
	.cards_container_Inner_B:last-of-type {
		margin-right: 0px;
	}
}

$Techstack-Bp-A: 741px;
$Techstack-Bp-A: 742px;

// Media Query

@media screen and (max-width: $Techstack-Bp-A) {
	.Skills-Card-Flex {
		flex-direction: column;
	}

	#TechStack {
		.Skills-Card-Flex {
			.Center-Card-Padding {
				margin: 20px 0px;
			}
			.Card-Padding-B {
				margin-right: 0px;
				margin-bottom: 20px;
			}
		}
	}
}
