Overview of TechStack

$Width-SubCard: 100px;
.TechStack-Title {
	padding-top: 1em;
	padding-bottom: 1em;
}
#TechStack {
	h1,
	h2 {
		text-align: center;
	}
	.Skills-Card-Flex {
		display: flex;
		justify-content: center;
		margin: 0px auto 0 auto;
		padding-bottom: 50px;
	}
	.Skills-ContainerA {
		display: flex;
		max-width: 1600px;
		justify-content: space-between;
	}
	.Skills-ContainerB {
		display: flex;
		max-width: 1255px;
		justify-content: space-between;
	}
}

#Skill-Container {
	// 	border: black 5px solid;
	border-radius: 15px;
	max-width: max-content;
	.wrapper {
		display: flex;
		// ~ max-width: fit-content;
		justify-content: space-evenly;
		margin: 0 auto;
	}
	.card_container_Outer_A {
		// border: black 5px solid;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		max-width: max-content;
		// width: fit-content;
		margin: 0px auto;
		// padding: 20px 10px 3px 20px;
		box-sizing: content-box;

		.cards_container_Inner_B {
			flex: 1 0 110px;
			text-align: center;
			padding: 0px 8px;
		}

		.img_logos {
			width: 110px;
			height: 110px;
			display: block;
			margin: 0 auto;
		}
	}
}
