// ! Exclusive page for font size, font family and text decoration
@use "../color.scss" as color;
@use "../mediaQuerry.scss" as mediaQuerry;

$h1_font_size: 2.5em;
$h2_font_size: 2em;
$h3_font_size: 1.5em;
$h4_font_size: 1.125em; // 16px base case
$h4_font_size: 17.5px; // 16px base case
$h5_font_size: 1.2em;
$h6_font_size: 1.15em;

$Project-h2-font_size: 1.1em;

$Primary_button_font_size: 2.5em;
$Seconday_Button_font_size: 1.7em;

$Navigation-Horizontal-Font-Size: 26px;
$Parapgrah_font_size: 1.4em;

$a_font-btn-size: 1.5em;
$PrimaryFont: "Lato", sans-serif;
$SecondaryFont: "Merriweather", serif;

$Cert-Title-h2: 1.8em;
$Cert-CompletionStatus-Text: 1.525em;
$Cert-Issuer-Text: 0.95em;
$Cert-Overview-Anchor: 18px; // 16px base case

h1,
h2,
h3,
h4 {
	font-family: $PrimaryFont;
}

button,
p {
	font-family: Arial, Helvetica, sans-serif;
	font-family: $SecondaryFont;
}

h1 {
	font-weight: 800;
}

h2,
h3 {
	font-weight: 600;
}

button {
	font-weight: 500;
}

h1 {
	font-size: $h1_font_size;
}

h2 {
	font-size: $h2_font_size;
}

h3 {
	font-size: $h3_font_size;
}

h4 {
	font-size: $h4_font_size;
}

p {
	font-size: $Parapgrah_font_size;
}

#About {
	h1 {
		font-size: $h1_font_size + 1em;
	}
}

// ! Navigation
#NavBarHorizontal {
	#logo-nav,
	#nav-links,
	#nav-contact-btn {
		font-family: $PrimaryFont;
		font-size: $Navigation-Horizontal-Font-Size;
	}
}

// #ProjectContainer

$h1-Subtraction: 0.5em;
$h2-Subtraction: 0.25em;
$h3-Subtraction: 0.15em;
$p-Subtraction: 0.05em;

// !Buttons Section Start

#About {
	Button {
		font-size: $Primary_button_font_size;
	}
}

#ProjectSection {
	a {
		font-size: $Seconday_Button_font_size;
		font-family: $SecondaryFont;
		text-decoration: none;
	}
}

#Certification {
	.Cert-Compnay-Title {
		font-size: $h1_font_size - 0.25em;
	}

	.Cert-Title-h2 {
		font-size: $Cert-Title-h2;
		text-decoration: underline;
	}
	#Cert-Issuer-Text {
		font-size: $Cert-Issuer-Text;
	}

	.Cert-Completion-Status {
		font-size: $Cert-CompletionStatus-Text;
		font-style: italic;
	}
	h3 {
		a {
			text-decoration: none;
		}
	}
	h4 {
		font-size: $h4_font_size;
	}

	.Certification-Anchor-Btn {
		font-size: $Seconday_Button_font_size;
		font-family: $SecondaryFont;
	}

	.AnchorLinks-Container-Flex {
		font-size: $Cert-Overview-Anchor;
		font-family: $SecondaryFont;

		a {
			text-decoration: underline;
		}
	}
}

// ! Font Awesome / Icons - Start

$font_awesome-Color: white;
$font_awesome-Size: 2.5em;

// ! Font Awesome / Icons - End
@mixin Font-Awseome-Size-Color {
	font-size: $font_awesome-Size;
	vertical-align: middle;
}

.fab,
.fas {
	@include Font-Awseome-Size-Color;
}

.fa-bars {
	font-size: 1.75em;
}

@media screen and (max-width: mediaQuerry.$Desktop-Half-1080p) {
	#ProjectSection {
		h1 {
			font-size: $h1_font_size - $h1-Subtraction;
		}

		h2 {
			font-size: $h2_font_size - $h2-Subtraction;
		}

		h3 {
			font-size: $h3_font_size - $h3-Subtraction;
		}

		p {
			// font-size: $h3_font_size - $p-Subtraction;
		}
	}
}
@media screen and (max-width: mediaQuerry.$Mobile-BreakPoint-300) {
	#ProjectSection {
		h1 {
			font-size: $h1_font_size - $h1-Subtraction;
		}

		h2 {
			font-size: $h2_font_size - $h2-Subtraction;
		}

		h3 {
			font-size: $h3_font_size - $h3-Subtraction;
		}
		a {
			font-size: $Seconday_Button_font_size - $h2-Subtraction;
		}

		p {
			// font-size: $h3_font_size - $p-Subtraction;
		}
	}
}

@media screen and (max-width: mediaQuerry.$Mobile-BreakPoint-300) {
	#ProjectSection {
		h1 {
			font-size: $h1_font_size - $h1-Subtraction;
		}

		h2 {
			font-size: $h2_font_size - $h2-Subtraction;
		}

		h3 {
			font-size: $h3_font_size - $h3-Subtraction;
		}
		a {
			font-size: $Seconday_Button_font_size - $h1-Subtraction;
		}
	}
}
