@use "../color.scss" as color;

$ButtonShadow: 0px 0px 1px black;

.NavHover {
	&:hover:after {
		width: 100%;
		left: calc(50% - 40%);
	}
	&:after {
		background: none repeat scroll 0 0 transparent;
		bottom: 0;
		content: "";
		display: block;
		height: 3px;
		left: 50%;
		// position: absolute;
		// background: ${(props) => (props.light ? "black" : "white")};
		background: #eebbc3;
		transition: width 0.3s ease 0s, left 0.3s ease 0s;
		width: 0;
	}
}
// TODO was old stylecomponent
.NavLink {
	position: relative;
	font-weight: 500;
	font-size: 16px;
	cursor: pointer;
	padding: 10px 6px;

	&:hover:after {
		width: 80%;
		left: calc(50% - 40%);
	}
	&:after {
		background: none repeat scroll 0 0 transparent;
		bottom: 0;
		content: "";
		display: block;
		height: 3px;
		left: 50%;
		position: absolute;
		// background: ${(props) => (props.light ? "black" : "white")};
		transition: width 0.3s ease 0s, left 0.3s ease 0s;
		width: 0;
	}
}

#nav-contact-btn {
	&:hover {
		border: solid 2.5px white;
		background-color: color.$Background-2-OffPurple;
		color: color.$Background-1-OffPurple;
		box-shadow: 0px 0px 1px color.$Background-2-OffPurple;
	}
}

.Hover-Btn-Type-A {
	border: solid 2.5px color.$Contact-Input-Text-Color;
	transition: all 0.2s linear;

	&:hover {
		color: color.$Background-1-OffPurple;
		background-color: color.$Background-2-OffPurple;
		box-shadow: 0px 0px 7px color.$Background-2-OffPurple;
	}
	&:focus {
		outline: 1px solid color.$Contact-Input-Border-Color;
	}
	&:focus-visible {
		color: color.$Background-1-OffPurple;
		background-color: color.$Background-2-OffPurple;
		box-shadow: 0px 0px 3px black;
		outline-offset: 0px;
	}
}

#ContactForm {
	.Contact-Icons-Fab {
		&:hover {
			// text-shadow: 0px 0px 1.5px color.$Header-1-A--OffWhite;
			text-shadow: 0px 0px 3px rgb(49, 49, 49);
			text-shadow: 0px 0px 3px rgb(14, 14, 14);
			text-shadow: 0px 0px 3px black;
			color: color.$Button-1;
		}
	}
	.form-example {
		input,
		textarea {
			&:focus {
				background-color: color.$Contact-Card-Bg-Color;
				outline: 1px solid color.$Contact-Input-Outline-Color;
				border-radius: 5px;
			}
		}
	}
	#sendButton {
		&:hover {
			color: color.$Contact-Send-Btn-Color-Hover;
			background-color: color.$Contact-Send-Btn-Bg-Color-Hover;
			border: solid 2.5px white;
		}
		&:focus {
			// border: solid 50px orange;
		}
		&:focus-visible {
			// TODO: CHANGE NAME
			color: color.$Contact-Send-Btn-Color-Hover;
			background-color: color.$Contact-Send-Btn-Bg-Color-Hover;
		}
	}
}

@mixin Project-Btn-Hover-FocusFunction {
	background-color: color.$Contact-Send-Btn-Bg-Color-Hover;
	color: color.$Contact-Send-Btn-Color-Hover;
	box-shadow: 0px 0px 1px black;
	// outline: 1px solid color.$Contact-Input-Border-Color;
}

.Project-Btn-Hover {
	background-color: color.$Contact-Btn-Bg-Color;
	border: solid 2.5px color.$Contact-Input-Text-Color;
	transition: all 0.2s linear;

	&:hover {
		background-color: color.$Contact-Send-Btn-Bg-Color-Hover;
		color: color.$Contact-Send-Btn-Color-Hover;
		box-shadow: 0px 0px 7px color.$Background-2-OffPurple;
	}
	&:focus {
		outline: 1px solid color.$Contact-Input-Border-Color;
	}
	&:focus-visible {
		outline-offset: 0px;
		@include Project-Btn-Hover-FocusFunction();
	}
}

// ~ Certification

.Cert-Btn {
	background-color: color.$Cert-Button-Bg-Color;
	color: color.$Cert-Button-Text-Color;
	border: solid 2.5px color.$Contact-Input-Text-Color;
	text-shadow: 0 0 0.1px color.$Header-1-A--OffWhite;
	&:hover {
		background-color: color.$Contact-Send-Btn-Bg-Color-Hover;
		color: color.$Contact-Send-Btn-Color-Hover;
		background-color: color.$Background-2-OffPurple;
		// background-color: color.$TechStack-BG-Color;
		color: color.$Background-1-OffPurple;
		// border: 5px white;
	}
	&:focus {
		outline: 0.5px solid color.$Contact-Input-Border-Color;
	}
}

@mixin Focus-Outline-Offset {
	transition: all 0.2s linear;
	&:focus {
		outline-offset: 4px;
		transition-timing-function: linear;
	}
}

#Certification {
	#CertAnchorText {
		@include Focus-Outline-Offset();
	}
	.AnchorLinks-Container-Flex {
		a {
			@include Focus-Outline-Offset();
		}
	}
	.Certification-Anchor-Btn {
		// transition: background-color 1000ms linear;
		transition: color 0.1s, background-color 0.2s linear;

		&:hover {
			background-color: color.$Background-2-OffPurple;
			color: color.$Background-1-OffPurple;
			// transition-timing-function: none;
		}

		&:focus {
			outline: 2px solid color.$Contact-Input-Border-Color;
			outline-offset: 1.5px;
			// transition-timing-function: linear;
		}
		&:focus-visible {
			color: color.$Cert-Button-Focus-Bg-Color;
			background-color: color.$Cert-Button-Focus-Text-Color;
			// transition-timing-function: linear;
		}
	}
}

.Contact-Icons-Fab {
	transition: all 0.5s ease-out;
	&:hover {
		text-shadow: 0px 0px 1.5px color.$Header-1-A--OffWhite;
		color: color.$Background-2-OffPurple;
	}
}
