.NavBar-Colors {
  background-color: #232946;
  color: #f8f9fa;
  text-shadow: 0px 0px 1px white;
  /* WebKit browsers */
}
.NavBar-Colors #nav-contact-btn {
  background-color: #eebbc3;
  color: #232946;
}
.NavBar-Colors #nav-contact-btn:hover {
  cursor: pointer;
}
.NavBar-Colors a:any-link {
  color: #f8f9fa;
}
.NavBar-Colors a:-webkit-any-link {
  color: #f8f9fa;
}

.fab {
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  color: #eebbc3;
}

.About-Color {
  background: #232946;
}
.About-Color h1,
.About-Color h2 {
  color: #fffffe;
}
.About-Color p {
  color: #d8ddf9;
}

.Project-Color .Project-Title {
  background-color: #d4d8f0;
}
.Project-Color #ProjectSection {
  background-color: #d4d8f0;
}
.Project-Color a {
  background-color: #eebbc3;
  color: #232946;
}
.Project-Color .Project-Section-Inner {
  background-color: #fffffe;
}
.Project-Color h1,
.Project-Color h2,
.Project-Color h3,
.Project-Color h4 {
  color: #232946;
}
.Project-Color p {
  color: #232946;
}
.Project-Color button {
  background-color: #eebbc3;
  color: #232946;
}

#TechStack {
  background-color: #eebbc3;
}
#TechStack #Skill-Container {
  background-color: #fffffe;
  border: 1px solid #232946;
}
#TechStack h1,
#TechStack h2,
#TechStack h3 {
  color: #232946;
}

#Certification {
  background-color: #232946;
}
#Certification h1 {
  color: #fffffe;
}
#Certification h2,
#Certification h3,
#Certification h4,
#Certification a {
  color: #232946;
}
#Certification .Cert-Container-Width {
  background-color: #fffffe;
}
#Certification .Certification-Anchor-Btn {
  color: #d8ddf9;
  background-color: #232946;
  text-shadow: 0 0 0.1px #fffffe;
  border: solid 2.5px #121629;
}

#ContactForm {
  background-color: #d4d8f0;
}
#ContactForm h1 {
  color: #232946;
}
#ContactForm #form_container {
  background-color: #fffffe;
  font-weight: bold;
  box-shadow: 0px 0px 3px #121629;
}
#ContactForm label,
#ContactForm select,
#ContactForm address,
#ContactForm textarea {
  color: #121629;
  color: #232946;
}
#ContactForm input {
  color: #121629;
}
#ContactForm .form-example input,
#ContactForm .form-example textarea {
  border: 2.5px solid #232946;
}
#ContactForm #sendButton {
  color: #232946;
  background-color: #eebbc3;
  border: solid 2.5px #121629;
}
#ContactForm .fab {
  color: #232946;
  text-shadow: 0px 0px 2px #121629;
}

.ContactBtnHover:hover {
  color: #fffffe;
  background-color: #232946;
  border: solid 2.5 px white;
}

h1,
h2,
h3,
h4 {
  font-family: "Lato", sans-serif;
}

button,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Merriweather", serif;
}

h1 {
  font-weight: 800;
}

h2,
h3 {
  font-weight: 600;
}

button {
  font-weight: 500;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 17.5px;
}

p {
  font-size: 1.4em;
}

#About h1 {
  font-size: 3.5em;
}

#NavBarHorizontal #logo-nav,
#NavBarHorizontal #nav-links,
#NavBarHorizontal #nav-contact-btn {
  font-family: "Lato", sans-serif;
  font-size: 26px;
}

#About Button {
  font-size: 2.5em;
}

#ProjectSection a {
  font-size: 1.7em;
  font-family: "Merriweather", serif;
  text-decoration: none;
}

#Certification .Cert-Compnay-Title {
  font-size: 2.25em;
}
#Certification .Cert-Title-h2 {
  font-size: 1.8em;
  text-decoration: underline;
}
#Certification #Cert-Issuer-Text {
  font-size: 0.95em;
}
#Certification .Cert-Completion-Status {
  font-size: 1.525em;
  font-style: italic;
}
#Certification h3 a {
  text-decoration: none;
}
#Certification h4 {
  font-size: 17.5px;
}
#Certification .Certification-Anchor-Btn {
  font-size: 1.7em;
  font-family: "Merriweather", serif;
}
#Certification .AnchorLinks-Container-Flex {
  font-size: 18px;
  font-family: "Merriweather", serif;
}
#Certification .AnchorLinks-Container-Flex a {
  text-decoration: underline;
}

.fab,
.fas {
  font-size: 2.5em;
  vertical-align: middle;
}

.fa-bars {
  font-size: 1.75em;
}

@media screen and (max-width: 975px) {
  #ProjectSection h1 {
    font-size: 2em;
  }
  #ProjectSection h2 {
    font-size: 1.75em;
  }
  #ProjectSection h3 {
    font-size: 1.35em;
  }
}
@media screen and (max-width: 430px) {
  #ProjectSection h1 {
    font-size: 2em;
  }
  #ProjectSection h2 {
    font-size: 1.75em;
  }
  #ProjectSection h3 {
    font-size: 1.35em;
  }
  #ProjectSection a {
    font-size: 1.45em;
  }
}
@media screen and (max-width: 430px) {
  #ProjectSection h1 {
    font-size: 2em;
  }
  #ProjectSection h2 {
    font-size: 1.75em;
  }
  #ProjectSection h3 {
    font-size: 1.35em;
  }
  #ProjectSection a {
    font-size: 1.2em;
  }
}
.fade-in-fwdA {
  animation: fade-in-fwdA 2.5s cubic-bezier(0.39, 0.575, 0.565, 1) 150ms both;
}

@keyframes fade-in-fwdA {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
#NavBarHorizontal {
  top: 0px;
  position: sticky;
  z-index: 10;
}

#NavBar-Horizontal-Flex {
  min-height: 80px;
  height: 7vh;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
#NavBar-Horizontal-Flex .flex-start {
  display: flex;
  justify-content: flex-start;
  flex-basis: 250px;
}
#NavBar-Horizontal-Flex .flex-center {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
  max-width: fit-content;
}
#NavBar-Horizontal-Flex .flex-center .align-padding {
  padding: 0px 1em;
  margin-top: 3px;
}
#NavBar-Horizontal-Flex .flex-end {
  display: flex;
  justify-content: flex-end;
  flex-basis: 250px;
  align-items: center;
}
#NavBar-Horizontal-Flex #nav-icon-box {
  margin-right: 20px;
}
#NavBar-Horizontal-Flex #nav-contact-btn {
  padding: 0.4em 1.25em;
  border: 1.5px solid #000;
  border-radius: 5px;
  text-decoration: none;
}
#Center-Logo {
  display: none;
}

.fas,
.fa-bars,
.fa-times {
  font-size: 54.8px;
}

#nav-links a {
  text-decoration: none;
}

@media screen and (max-width: 1068px) {
  #NavBarHorizontal #logo-nav,
#NavBarHorizontal #nav-links,
#NavBarHorizontal #nav-contact-btn {
    font-size: 23px;
  }

  #NavBar-Horizontal-Flex .flex-center .align-padding {
    padding: 0px 0.75em;
  }
}
@media screen and (max-width: 907px) {
  #nav-icon-box {
    display: none;
  }
}
#Hamburger-block {
  display: none;
}

@media screen and (max-width: 850px) {
  #NavBar-Horizontal-Flex .flex-center {
    margin-top: 0px;
    max-width: 100%;
  }

  #NavBarHorizontal #logo-nav {
    display: none;
  }
  #NavBarHorizontal .icon {
    /* display: block; */
  }

  #nav-icon-box {
    display: none;
  }

  #Hamburger-block {
    display: block;
    flex-basis: 158.45px;
    text-align: right;
  }

  #NavBar-Horizontal-Flex .flex-end {
    display: block;
    flex-basis: auto;
  }
  #NavBar-Horizontal-Flex .flex-center .align-padding {
    margin-top: 0px;
  }

  #Center-Logo {
    display: block;
  }

  #NavBarHorizontal #nav-contact-btn {
    font-size: 26px;
  }

  .flex-center {
    display: flex;
    width: 100%;
    height: 350px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0px;
  }

  .flex-center.active {
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 50;
    align-content: center;
    padding-left: 0px;
    background-color: #232946;
  }

  .option {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vw;
    padding: 30px 0px;
  }
}
@media screen and (max-width: 454px) {
  #Hamburger-block {
    flex-basis: auto;
  }
}
@media screen and (min-width: 2160px) {
  #NavBar-Horizontal-Flex {
    height: calc(7vh * 0.98);
  }
}
@media screen and (min-width: 4320px) {
  #NavBar-Horizontal-Flex {
    height: calc(7vh * 0.9);
  }
}
#About,
#CardContainer,
#ContactForm,
#SocialContainer,
#ProjectContainer,
#TechStack {
  scroll-margin-top: 7vh;
}

@media screen and (min-width: 2160px) {
  #About,
#CardContainer,
#ContactForm,
#SocialContainer,
#ProjectContainer,
#TechStack {
    scroll-margin-top: calc(7vh * 0.98);
  }
}
@media screen and (min-width: 4320px) {
  #About,
#CardContainer,
#ContactForm,
#SocialContainer,
#ProjectContainer,
#TechStack {
    scroll-margin-top: calc(7vh * 0.9);
  }
}
html {
  scroll-behavior: smooth;
}

html {
  scrollbar-color: #e4e8fc #232943;
  scrollbar-width: thin;
  /* ::-webkit-scrollbar-corner {
  	// background: $ScrollBar-Color-Firefox;
  } */
}
html ::-moz-scrollbar-track {
  border: solid black 5px;
  border-radius: 10px;
}
html ::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: #232943;
}
html ::-webkit-scrollbar-thumb {
  background: #d4d8f0;
  border: solid #202020 1px;
  -webkit-border-radius: 1ex;
}
html ::-webkit-scrollbar-track {
  border-radius: 10px;
}
html ::-webkit-scrollbar-thumb:hover {
  background-color: #e4e8fc;
}

* {
  line-height: 1.4705882353;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

Button {
  cursor: pointer;
}

html {
  background-color: red;
}

h1,
h2,
h3,
h4 {
  line-height: 1.6180339888;
}

.NavHover:hover:after {
  width: 100%;
  left: calc(50% - 40%);
}
.NavHover:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  background: #eebbc3;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.NavLink {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 6px;
}
.NavLink:hover:after {
  width: 80%;
  left: calc(50% - 40%);
}
.NavLink:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

#nav-contact-btn:hover {
  border: solid 2.5px white;
  background-color: #d4d8f0;
  color: #232946;
  box-shadow: 0px 0px 1px #d4d8f0;
}

.Hover-Btn-Type-A {
  border: solid 2.5px #121629;
  transition: all 0.2s linear;
}
.Hover-Btn-Type-A:hover {
  transition: all 0.2s linear;
  color: #232946;
  color: #101020;
  background-color: #d4d8f0;
  box-shadow: 0px 0px 7px #d4d8f0;
  outline: 1px solid #232946;
}
.Hover-Btn-Type-A:focus {
  outline: 1px solid #232946;
}
.Hover-Btn-Type-A:focus-visible {
  color: #232946;
  background-color: #d4d8f0;
  box-shadow: 0px 0px 7px #d4d8f0;
  outline-offset: 0px;
}

#ContactForm .Contact-Icons-Fab:hover {
  text-shadow: 0px 0px 3px #313131;
  text-shadow: 0px 0px 3px #0e0e0e;
  text-shadow: 0px 0px 1.5px black;
  color: #eebbc3;
}
#ContactForm .form-example input:focus,
#ContactForm .form-example textarea:focus {
  background-color: #fffffe;
  outline: 1px solid #232946;
  border-radius: 5px;
}
#ContactForm #sendButton:hover {
  background-color: #d4d8f0;
}
#ContactForm #sendButton:focus, #ContactForm #sendButton:focus-visible {
  background-color: #232946;
  text-shadow: 0px 0px 1px #fffffe;
  background-color: #d4d8f0;
}
#ContactForm #sendButton:focus-visible {
  outline-offset: 2px;
}

.Project-Btn-Hover {
  background-color: #eebbc3;
  border: solid 2.5px #121629;
  transition: all 0.2s linear;
}
.Project-Btn-Hover:hover {
  background-color: #232946;
  color: #fffffe;
  color: #d8ddf9;
  color: #e2e6fd;
  box-shadow: 0px 0px 7px #d4d8f0;
  text-shadow: 0 0 1px #fffffe;
  outline-offset: 0px;
  outline: 1px solid #232946;
}
.Project-Btn-Hover:focus {
  outline: 1px solid #232946;
  outline-offset: 0px;
  text-shadow: 0 0 1px #fffffe;
}
.Project-Btn-Hover:focus-visible {
  outline: 1px solid #232946;
  outline-offset: 0px;
  text-shadow: 0 0 1px #fffffe;
  background-color: #232946;
  color: #fffffe;
}

#Certification #Cert-Issuer-Text {
  transition: all 0.2s linear;
}
#Certification #Cert-Issuer-Text:focus {
  outline-offset: 4px;
  transition-timing-function: linear;
}
#Certification #Cert-Issuer-Text:focus-visible {
  outline-offset: 4px;
  transition-timing-function: linear;
}
#Certification .AnchorLinks-Container-Flex a {
  transition: all 0.2s linear;
}
#Certification .AnchorLinks-Container-Flex a:focus {
  outline-offset: 4px;
  transition-timing-function: linear;
}
#Certification .AnchorLinks-Container-Flex a:focus-visible {
  outline-offset: 4px;
  transition-timing-function: linear;
}
#Certification .Certification-Anchor-Btn {
  transition: color 0.1s, background-color 0.2s linear;
}
#Certification .Certification-Anchor-Btn:hover {
  background-color: #d4d8f0;
  color: #232946;
}
#Certification .Certification-Anchor-Btn:focus {
  outline: 2px solid #232946;
  outline-offset: 1px;
}
#Certification .Certification-Anchor-Btn:focus-visible {
  color: #232946;
  background-color: #d4d8f0;
}

.Contact-Icons-Fab {
  transition: all 0.5s ease-out;
}

#nav-icon-box > a:hover > i,
#nav-icon-box > a:focus-visible > i {
  text-shadow: 0px 0px 2px #fffffe;
  color: #d4d8f0;
}

#Center-Logo:hover > i,
#Center-Logo:focus-visible > i {
  text-shadow: 0px 0px 2px #fffffe;
  color: #d4d8f0;
}

#nav-contact-btn:hover,
#nav-contact-btn:focus-visible {
  text-shadow: 0px 0px 1px #fffffe;
  background-color: #d4d8f0;
}

.About_Social div a:hover i,
.About_Social div a:focus-visible i {
  text-shadow: 0px 0px 2px #fffffe;
  color: #d4d8f0;
}

.Social_Container_Contact > #Social_Container > a:hover > i,
.Social_Container_Contact > #Social_Container > a:focus-visible > i {
  text-shadow: 0px 0px 1.5px black;
  color: #eebbc3;
}

#address-block a,
#address-block a:hover,
#address-block a:focus,
#address-block a:active {
  color: inherit;
}

#address-block > a:focus-visible > address {
  transition: all 0.2s linear;
  display: inline;
}
#address-block > a:focus-visible > address:focus {
  outline-offset: 4px;
  transition-timing-function: linear;
}
#address-block > a:focus-visible > address:focus-visible {
  outline-offset: 4px;
  transition-timing-function: linear;
}

#address-block > a:focus-visible {
  transition: all 0.2s linear;
  display: inline;
}
#address-block > a:focus-visible:focus {
  outline-offset: 4px;
  transition-timing-function: linear;
}
#address-block > a:focus-visible:focus-visible {
  outline-offset: 4px;
  transition-timing-function: linear;
}

input,
textarea {
  transition: all 0.3s ease-out;
}

#sendButton {
  transition: none;
}

.scrolldown {
  box-shadow: 0px 0px 1px #eebbc3;
  border: 3px solid #eebbc3;
  position: relative;
  bottom: 0px;
  width: 30px;
  height: 50px;
  margin-left: 6px;
  border-radius: 50px;
  box-sizing: border-box;
  cursor: pointer;
}
.scrolldown:hover {
  box-shadow: 0px 0px 1.5px #fffffe;
  border-color: #d4d8f0;
}
.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 32px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #eebbc3;
  border-radius: 100%;
  animation: scrolldown-animation 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px #ffffff66;
}

.scrolldown:hover:before {
  background-color: #d4d8f0;
  box-shadow: 0px -5px 3px 1px #ffffff66;
}

@keyframes scrolldown-animation {
  0% {
    opacity: 0;
    height: 6px;
  }
  40% {
    opacity: 1;
    height: 10px;
  }
  80% {
    transform: translate(0, 25px);
    height: 10px;
    opacity: 0;
  }
  100% {
    height: 50px;
    opacity: 0;
  }
}
.chevrons {
  padding: 6px 0 0 0;
  margin-left: -3px;
  margin-top: 48px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chevrondown {
  margin-top: -6px;
  position: relative;
  border: solid #eebbc3;
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 18px;
  height: 18px;
  transform: rotate(45deg);
}
.chevrondown:nth-child(odd) {
  animation: pulse 500ms ease infinite alternate;
}
.chevrondown:nth-child(even) {
  animation: pulse 500ms ease infinite alternate 250ms;
}

@keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
.scrolldown:hover > .chevrons > .chevrondown {
  border-color: #d4d8f0;
  box-shadow: 0px 0px 3px #fffffe;
  -webkit-clip-path: inset(1px 0px 0px 1px);
  clip-path: inset(1px -6px -22px 1px);
}

@-moz-document url-prefix() {
  .scrolldown {
    margin-left: 8px;
  }
}
#Social_Container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#Certification .Cert-Container {
  max-width: fit-content;
  margin: 0px auto 0px auto;
  padding-left: 20px;
  padding-right: 20px;
}
#Certification .Certification-Container-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
#Certification .Cert-Container-Width {
  width: 100%;
  width: 700px;
  padding: 2em;
  border-radius: 20px;
  margin-bottom: 3em;
}
#Certification h1 {
  text-align: center;
}
#Certification img {
  max-height: 150px;
}
#Certification p {
  max-width: 650px;
}
#Certification .align-L {
  text-align: left;
}
#Certification .underline {
  text-decoration: underline;
}
#Certification .Certification-Padding-A {
  margin-bottom: 0em;
}
#Certification .Certification-Padding-B {
  margin-bottom: 0.1em;
}
#Certification .Certification-Padding-C {
  margin-bottom: 20px;
}
#Certification .Certification-Anchor-Btn {
  text-decoration: none;
}
#Certification .Btn-Container-Horizontal-Flex {
  margin-top: 0.1em;
}
#Certification .AnchorLinks-Container-Flex {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.1em;
}
#Certification .Cert-Style-Anchor {
  padding-bottom: 0.1em;
}
#Certification .Certification-Anchor-Btn {
  padding: 0px 20px;
  border-radius: 5px;
}

#ProjectContainer .Project-Title {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

#ProjectSection {
  display: flex;
  justify-content: center;
  padding-bottom: 3.5em;
  padding-left: 20px;
  padding-right: 20px;
}
#ProjectSection a {
  padding: 0px 20px;
  border-radius: 5px;
}
#ProjectSection .Project-Section-Inner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.85em;
  padding: 2em;
  border-radius: 15px;
}
#ProjectSection .Project-Section-Inner .Project-AreaA-Section {
  max-height: 500px;
}
#ProjectSection .Project-Section-Inner .Project-AreaB-Section {
  max-width: 680px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
#ProjectSection .Project-Section-Inner .Project-AreaB-Section h2 {
  margin-bottom: 6px;
}
#ProjectSection .Project-Section-Inner .Project-AreaB-Section h3 {
  margin-bottom: 3px;
}
#ProjectSection .Project-Section-Inner .Project-AreaB-Section p {
  margin-bottom: 20px;
}

.Btn-Container-Horizontal-Flex {
  display: flex;
  justify-content: space-evenly;
}

.Project-Image {
  width: 100%;
  height: auto;
  display: block;
  border: solid black 1px;
}

@media screen and (max-width: 975px) {
  #ProjectSection .Project-Section-Inner {
    gap: 1.25em;
    padding: 1.2em;
  }
}
#ImageContainerB {
  display: none;
}

@media screen and (max-width: 850px) {
  #ProjectSection .Project-Image {
    max-height: 375px;
  }
  #ProjectSection #ImageContainer {
    display: none;
  }
  #ProjectSection #ImageContainerB {
    display: block;
  }
}
.TechStack-Title {
  padding-top: 1em;
  padding-bottom: 1em;
}

#TechStack h1,
#TechStack h2 {
  text-align: center;
}
#TechStack h2 {
  padding-bottom: 0.5em;
}
#TechStack .Skills-Card-Flex {
  display: flex;
  justify-content: center;
  margin: 0px auto 0 auto;
  padding-bottom: 3.2em;
  padding-left: 20px;
  padding-right: 20px;
}
#TechStack .Skills-Card-Flex .Center-Card-Padding {
  margin: 0px 8px;
}
#TechStack .Skills-Card-Flex .Card-Padding-B {
  margin-right: 8px;
}
#TechStack .Skills-ContainerA {
  display: flex;
  max-width: 1600px;
  justify-content: space-between;
}
#TechStack .Skills-ContainerB {
  display: flex;
  max-width: 1248px;
  justify-content: space-between;
}

#Skill-Container {
  border-radius: 15px;
  padding: 1.5em;
}
#Skill-Container .wrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}
#Skill-Container .card_container_Outer_A {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px auto;
  box-sizing: content-box;
}
#Skill-Container .card_container_Outer_A .cards_container_Inner_B {
  flex: 1 0 110px;
  text-align: center;
  margin: 0px 7px;
}
#Skill-Container .card_container_Outer_A .img_logos {
  width: 110px;
  height: 110px;
  display: block;
  margin: 0 auto;
}
#Skill-Container .cards_container_Inner_B:first-of-type {
  margin-left: 0px;
}
#Skill-Container .cards_container_Inner_B:last-of-type {
  margin-right: 0px;
}

@media screen and (max-width: 742px) {
  .Skills-Card-Flex {
    flex-direction: column;
  }

  #TechStack .Skills-Card-Flex .Center-Card-Padding {
    margin: 20px 0px;
  }
  #TechStack .Skills-Card-Flex .Card-Padding-B {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}
address {
  display: flex;
  justify-content: center;
}

#ContactForm {
  padding-bottom: 20px;
  height: 100vh;
  height: 93vh;
}
#ContactForm #FormContainer {
  max-width: 650px;
  margin: 0 auto;
  padding: 0px 20px;
}
#ContactForm h1 {
  text-align: center;
}
#ContactForm .Social_Container_Contact {
  max-width: 575px;
  margin: 0px auto 2em auto;
}
#ContactForm #form_container {
  padding: 25px;
  padding: 2em 1em 2em 2em;
  border-radius: 20px;
}
#ContactForm #form_container #button {
  display: flex;
  justify-content: center;
  width: 250px;
}
#ContactForm label {
  display: block;
  padding: 1rem 0 0.5rem 0em;
}
#ContactForm .form-example {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#ContactForm .form-example input,
#ContactForm .form-example textarea {
  width: 100%;
}
#ContactForm .form-example textarea {
  height: 250px;
  vertical-align: top;
}
#ContactForm .form-example input,
#ContactForm .form-example textarea {
  padding: 0.4em;
  font-size: 19px;
}
#ContactForm .form-example textarea {
  font-family: inherit;
  resize: none;
}
#ContactForm .form-example #sendButton {
  box-sizing: content-box;
  margin-top: 0.75em;
  cursor: pointer;
  border-radius: 20px;
  font-size: 30px;
}
#ContactForm address {
  text-decoration: underline;
  font-weight: bold;
}

.Form-Input-Container {
  min-width: 100%;
}

#CardContainer h1 {
  text-align: center;
}

.card_container .cards_vertical {
  border-radius: 20px;
  box-shadow: 0px 0px 5px black;
  border: solid 5px black;
}
.card_container .cards_vertical_500px {
  border-radius: 20px;
  box-shadow: 0px 0px 5px black;
  border: solid 5px black;
}

.cards_Horizontal_Buttons button {
  border-radius: 5px;
  border: solid black 2px;
}

.card_container img {
  width: 100%;
  height: auto;
}

.card_container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.card_container h1,
.card_container h2 {
  text-align: center;
}
.card_container .cards_vertical_500px {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding-left: 1px;
  padding-right: 1px;
  box-sizing: content-box;
}
.card_container .cards_vertical_500px p {
  box-sizing: content-box;
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
  width: auto;
}
.card_container .cards_vertical {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding-left: 1px;
  padding-right: 1px;
  box-sizing: content-box;
}
.card_container .cards_vertical h1,
.card_container .cards_vertical h2,
.card_container .cards_vertical h3 {
  text-align: center;
}
.card_container .cards_vertical p {
  margin-left: 10px;
  margin-right: 10px;
}

.cards_Horizontal_Buttons {
  box-sizing: content-box;
  display: inline-flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
  width: 100%;
  padding-bottom: 10px;
}
.cards_Horizontal_Buttons button {
  padding: 0px 18px;
}

#About {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#About .About-Container {
  height: fit-content;
  border-radius: 30px;
  text-align: left;
  max-width: 800px;
  background-size: auto;
  padding: 20px;
}
#About h1 {
  padding: 0px 0px 30px 0px;
}
#About h2 {
  padding: 0px 0px 20px 0px;
}
#About p {
  padding: 0px 0px 18px 0px;
  text-shadow: 0 0 0.1px white;
}
#About button {
  text-align: center;
  background-color: #eae8ff;
  border: solid 2px black;
  border-radius: 30px;
  padding: 10px 50px;
  box-shadow: 0px 0px 25px 0px black;
}
#About .About_Social {
  max-width: 575px;
  margin: 25px auto 25px auto;
}

.ScrollDown-Centering {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
}

/*# sourceMappingURL=main.css.map */
