#About Button {
  font-size: 2.5em;
}

#ProjectSection Button,
#CardContainer Button,
#Certification Button {
  font-size: 1.7em;
  padding: 0px 20px;
}

h1,
h2,
h3 {
  font-family: "Lato", sans-serif;
}

h1 {
  font-weight: 700;
}

h2,
h3 {
  font-weight: 600;
}

button,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Merriweather", serif;
}

button {
  font-weight: 500;
}

#About h1 {
  font-size: 3.5em;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

p {
  font-size: 1.4em;
}

.fab,
.fas {
  font-size: 2.5em;
  vertical-align: middle;
}

.fa-bars {
  font-size: 1.75em;
}

#NavBarHorizontal #logo-nav,
#NavBarHorizontal #nav-links,
#NavBarHorizontal #nav-contact-btn {
  font-family: "Lato", sans-serif;
  font-size: 26px;
}

.NavBar-Colors {
  background-color: #232946;
  color: aliceblue;
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.2);
}
.NavBar-Colors #nav-contact-btn {
  background-color: #eebbc3;
  color: #232946;
}

.fab {
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  color: #eebbc3;
}

.About-Color {
  background: #232946;
}
.About-Color h1,
.About-Color h2 {
  color: #fffffe;
}
.About-Color p {
  color: #b8c1ec;
}

.Project-Color .Project-Title {
  background-color: #d4d8f0;
}
.Project-Color #ProjectSection {
  background-color: #d4d8f0;
}
.Project-Color .Project-Section-Inner {
  background-color: #fffffe;
}
.Project-Color h1,
.Project-Color h2,
.Project-Color h3,
.Project-Color h4 {
  color: #232946;
}
.Project-Color p {
  color: #232946;
}
.Project-Color button {
  background-color: #eebbc3;
  color: #232946;
}

a:any-link {
  color: aliceblue;
}

/* WebKit browsers */
a:-webkit-any-link {
  color: aliceblue;
}

#TechStack {
  background-color: #eebbc3;
}
#TechStack #Skill-Container {
  background-color: #fffffe;
}
#TechStack h1,
#TechStack h2,
#TechStack h3 {
  color: #232946;
}

#Certification {
  background-color: #232946;
}
#Certification h1 {
  color: #fffffe;
}
#Certification h2,
#Certification h3,
#Certification h4,
#Certification a {
  color: #232946;
}
#Certification .Cert-Container-Width {
  background-color: #fffffe;
}
#Certification button {
  background-color: #232946;
  color: #b8c1ec;
  text-shadow: 0 0 1px white;
}

#ContactForm {
  background-color: #d4d8f0;
}
#ContactForm h1 {
  color: #232946;
}
#ContactForm #form_container {
  background-color: #fffffe;
}
#ContactForm label,
#ContactForm input,
#ContactForm select,
#ContactForm address,
#ContactForm textarea {
  color: #121629;
}
#ContactForm .form-example input,
#ContactForm .form-example textarea {
  border: 2.5px solid #232946;
  background-color: #d4d8f0;
}
#ContactForm .form-example input:focus,
#ContactForm .form-example textarea:focus {
  border: 2.5px solid #121629;
  background-color: #fffffe;
  border-radius: 5px;
  outline: 1px solid #232946;
}
#ContactForm #sendButton {
  background-color: #eebbc3;
  border: solid 2.5px #121629;
}
#ContactForm #sendButton:hover {
  border: solid 2.5px white;
  background-color: #232946;
  color: #fffffe;
}
#ContactForm .fab {
  color: #232946;
  text-shadow: 0px 0px 2px #121629;
}

.fade-in-fwdA {
  animation: fade-in-fwdA 2.5s cubic-bezier(0.39, 0.575, 0.565, 1) 150ms both;
}

@keyframes fade-in-fwdA {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
#About,
#CardContainer,
#ContactForm,
#SocialContainer,
#TechStack {
  scroll-margin-top: 7vh;
}

#ProjectSection {
  scroll-margin-top: 17vh;
}

html {
  scroll-behavior: smooth;
}

a:any-link {
  text-decoration: none;
}

/* WebKit browsers */
a:-webkit-any-link {
  text-decoration: none;
}

html {
  scrollbar-color: #662763 #e4e4e4;
  scrollbar-width: thin;
}
html ::-moz-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
html ::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: #181818;
  background: black;
}
html ::-webkit-scrollbar-thumb {
  background: #d4d8f0;
  border: solid black 0.5px;
  -webkit-border-radius: 1ex;
}
html ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(255, 0, 0, 0.3);
  border-radius: 10px;
}
html ::-webkit-scrollbar-corner {
  background: #000;
}

::-webkit-scrollbar-thumb:hover {
  background-color: aliceblue;
}

* {
  line-height: 1.4;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

Button {
  cursor: pointer;
}

.scrolldown {
  color: #eebbc3;
  position: relative;
  bottom: 0px;
  width: 30px;
  height: 50px;
  margin-left: 6px;
  border: 3px solid #eebbc3;
  border-radius: 50px;
  box-sizing: border-box;
  box-shadow: 0px 0px 1px black;
}

.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 32px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #eebbc3;
  border-radius: 100%;
  animation: scrolldown-anim 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px #ffffff66;
}

@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }
  40% {
    opacity: 1;
    height: 10px;
  }
  80% {
    transform: translate(0, 25px);
    height: 10px;
    opacity: 0;
  }
  100% {
    height: 50px;
    opacity: 0;
  }
}
.chevrons {
  padding: 6px 0 0 0;
  margin-left: -3px;
  margin-top: 48px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chevrondown {
  margin-top: -6px;
  position: relative;
  border: solid #eebbc3;
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
}

.chevrondown:nth-child(odd) {
  animation: pulse 500ms ease infinite alternate;
}

.chevrondown:nth-child(even) {
  animation: pulse 500ms ease infinite alternate 250ms;
}

@keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
#Social_Container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#NavBarHorizontal {
  top: 0px;
  position: sticky;
  z-index: 10;
}

#NavBar-Horizontal-Flex {
  min-height: 80px;
  height: 7vh;
  max-height: 100px;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#NavBar-Horizontal-Flex .flex-start {
  display: flex;
  justify-content: flex-start;
  flex-basis: 291.233px;
  padding-left: 20px;
}
#NavBar-Horizontal-Flex .flex-center {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3px;
  flex-grow: 1;
  max-width: 600px;
}
#NavBar-Horizontal-Flex .flex-center .align-padding {
  padding: 0px 1em;
}
#NavBar-Horizontal-Flex .flex-end {
  display: flex;
  justify-content: flex-end;
  flex-basis: 200px;
  align-items: center;
  margin-left: 20px;
}
#NavBar-Horizontal-Flex #nav-icon-box {
  display: flex;
  margin-right: 20px;
  margin-left: 20px;
  width: 100.6px;
}
#NavBar-Horizontal-Flex #nav-icon-box a:nth-child(1) {
  margin-right: 25px;
}
#NavBar-Horizontal-Flex #nav-contact-btn {
  padding: 0.4em 1.25em;
  border: 1.5px solid #000;
  border-radius: 5px;
  text-decoration: none;
}

#Hamburger-block {
  display: none;
}

@media screen and (max-width: 900px) {
  #NavBarHorizontal #logo-nav {
    display: none;
  }
  #NavBarHorizontal .flex-center {
    display: none;
  }
  #NavBarHorizontal #nav-icon-box {
    display: none;
  }
  #NavBarHorizontal .icon {
    display: block;
  }
  #NavBarHorizontal nav {
    display: none;
  }

  #Hamburger-block {
    display: block;
    margin-right: 24px;
  }

  #NavBar-Horizontal-Flex .flex-end {
    display: block;
    margin-left: 15px;
  }
}
.fas,
.fa-bars {
  font-size: 50px;
}

#Certification .Cert-Container {
  max-width: fit-content;
  margin: 0px auto 0px auto;
}
#Certification h1 {
  text-align: center;
}
#Certification img {
  max-height: 150px;
}
#Certification p {
  max-width: 650px;
}
#Certification .align-L {
  text-align: left;
}
#Certification .underline {
  text-decoration: underline;
}
#Certification .Certification-Padding-A {
  margin-bottom: 12px;
}
#Certification .Certification-Padding-B {
  margin-bottom: 10px;
}
#Certification .Certification-Padding-C {
  margin-bottom: 20px;
}
#Certification a {
  width: 100%;
  max-width: 425px;
}
#Certification a button {
  width: 100%;
}

.Certification-Container-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Cert-Container-Width {
  width: 100%;
  padding: 2em;
  border-radius: 20px;
  margin-bottom: 3em;
}

#ProjectContainer .Project-Title {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

#ProjectSection {
  display: flex;
  justify-content: center;
  padding-bottom: 3.5em;
}
#ProjectSection .Project-Section-Inner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2.5em;
  padding: 2em;
  border-radius: 15px;
}
#ProjectSection .Project-Section-Inner .Project-AreaA-Section {
  max-height: 500px;
}
#ProjectSection .Project-Section-Inner .Project-AreaB-Section {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.Btn-Container-Horizontal-Flex {
  display: flex;
  justify-content: space-evenly;
}

.Project-Image {
  width: 100%;
  height: auto;
  display: block;
  border: solid black 1px;
}

.TechStack-Title {
  padding-top: 1em;
  padding-bottom: 1em;
}

#TechStack h1,
#TechStack h2 {
  text-align: center;
}
#TechStack h2 {
  padding-bottom: 0.5em;
}
#TechStack .Skills-Card-Flex {
  display: flex;
  justify-content: center;
  margin: 0px auto 0 auto;
  padding-bottom: 50px;
}
#TechStack .Skills-ContainerA {
  display: flex;
  max-width: 1600px;
  justify-content: space-between;
}
#TechStack .Skills-ContainerB {
  display: flex;
  max-width: 1248px;
  justify-content: space-between;
}

#Skill-Container {
  border-radius: 15px;
  padding: 1.5em;
}
#Skill-Container .wrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}
#Skill-Container .card_container_Outer_A {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: max-content;
  margin: 0px auto;
  box-sizing: content-box;
}
#Skill-Container .card_container_Outer_A .cards_container_Inner_B {
  flex: 1 0 110px;
  text-align: center;
  margin: 0px 7px;
}
#Skill-Container .card_container_Outer_A .img_logos {
  width: 110px;
  height: 110px;
  display: block;
  margin: 0 auto;
}
#Skill-Container .cards_container_Inner_B:first-of-type {
  margin-left: 0px;
}
#Skill-Container .cards_container_Inner_B:last-of-type {
  margin-right: 0px;
}

address {
  display: flex;
  justify-content: center;
}

#ContactForm {
  height: 92vh;
}
#ContactForm #FormContainer {
  max-width: 600px;
  margin: 0 auto;
}
#ContactForm h1 {
  text-align: center;
}
#ContactForm .Social_Container_Contact {
  margin-bottom: 2em;
}
#ContactForm #form_container {
  padding: 25px;
  border-radius: 20px;
  margin: 0px 20px;
}
#ContactForm #form_container #button {
  display: flex;
  justify-content: center;
  width: 250px;
}
#ContactForm label {
  display: block;
  padding: 1rem 0 0.5rem 0em;
}
#ContactForm .form-example {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#ContactForm .form-example input,
#ContactForm .form-example textarea {
  width: 100%;
}
#ContactForm .form-example textarea {
  height: 250px;
  vertical-align: top;
}
#ContactForm .form-example input,
#ContactForm .form-example textarea {
  padding: 0.4em;
  font-size: 19px;
}
#ContactForm .form-example textarea {
  font-family: inherit;
  resize: none;
}
#ContactForm .form-example #sendButton {
  box-sizing: content-box;
  margin-top: 30px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 30px;
}
#ContactForm address {
  text-decoration: underline;
  font-weight: bold;
}

.Form-Input-Container {
  min-width: 100%;
}

#CardContainer h1 {
  text-align: center;
}

.card_container .cards_vertical {
  border-radius: 20px;
  box-shadow: 0px 0px 5px black;
  border: solid 5px black;
}
.card_container .cards_vertical_500px {
  border-radius: 20px;
  box-shadow: 0px 0px 5px black;
  border: solid 5px black;
}

.cards_Horizontal_Buttons button {
  border-radius: 5px;
  border: solid black 2px;
}

.card_container img {
  width: 100%;
  height: auto;
}

.card_container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.card_container h1,
.card_container h2 {
  text-align: center;
}
.card_container .cards_vertical_500px {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding-left: 1px;
  padding-right: 1px;
  box-sizing: content-box;
}
.card_container .cards_vertical_500px p {
  box-sizing: content-box;
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
  width: auto;
}
.card_container .cards_vertical {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding-left: 1px;
  padding-right: 1px;
  box-sizing: content-box;
}
.card_container .cards_vertical h1,
.card_container .cards_vertical h2,
.card_container .cards_vertical h3 {
  text-align: center;
}
.card_container .cards_vertical p {
  margin-left: 10px;
  margin-right: 10px;
}

.cards_Horizontal_Buttons {
  box-sizing: content-box;
  display: inline-flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
  width: 100%;
  padding-bottom: 10px;
}
.cards_Horizontal_Buttons button {
  padding: 0px 18px;
}

#About {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#About .About-Container {
  height: fit-content;
  border-radius: 30px;
  text-align: left;
  max-width: 800px;
  background-size: auto;
  padding: 20px;
}
#About h1 {
  padding: 0px 0px 30px 0px;
}
#About h2 {
  padding: 0px 0px 20px 0px;
  text-align: center;
}
#About p {
  padding: 0px 0px 18px 0px;
  max-width: 500px;
  text-align: center;
  margin: auto;
  text-shadow: 0 0 0.1px white;
}
#About button {
  text-align: center;
  background-color: #eae8ff;
  border: solid 2px black;
  border-radius: 30px;
  padding: 10px 50px;
  box-shadow: 0px 0px 25px 0px black;
}
#About .About_Social {
  margin-top: 25px;
}

.ScrollDown-Centering {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
}

/*# sourceMappingURL=main.css.map */
