.fade-in-fwdA {
    animation: fade-in-fwdA 2.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 150ms both;
	// animation: fade-in-fwdA 1s cubic-bezier(0.39, 0.575, 0.565, 1) 400ms both;
}

@keyframes fade-in-fwdA {
	0% {
		transform: translateZ(-80px);
		opacity: 0;
	}
	100% {
		transform: translateZ(0);
		opacity: 1;
	}
}