// Gray Tones
$Gray-Default: rgb(128, 128, 128);
$Gray-900: rgba(32, 40, 51, 255);
$Gray-800: rgba(64, 75, 90, 255);
$Gray-700: rgba(110, 122, 138, 255);
$Gray-600: rgba(146, 159, 177, 255);
$Gray-500: rgba(174, 190, 205, 255);
$Gray-400: rgba(204, 212, 219, 255);
$Gray-390: rgba(213, 221, 229, 255);
$Gray-200: rgba(225, 231, 236, 255);
$Gray-100: rgba(248, 249, 250, 255);

// ! Refactor About variables to be more percises
// ! Only font and background colors in color.scss

// Elements Primary
$Background-1-OffPurple: #232946;
$Header-1-A--OffWhite: #fffffe;
// color: rgb(224 229 249);

$Button-1: #eebbc3;
$Button-1-Text: #232946;

// Elements Secondary

$Background-2-OffPurple: #d4d8f0;
$Background-2-OffWhite: #fffffe;

$Header-2-A--OffPurple: #232946;

$Paragraph-2: #232946;

$Button-2: #eebbc3;
$Button-2-Text: #232946;

// ! Color UNIQUE
$Header-Sub-Title: #d4939d;

// # .NavBar-Colors

// | Research
$ColorA: #232346; // Referense

$NavBar-PurpleBackground: linear-gradient(90deg, #2c0b4c 12.5%, #500f83, #2c0b4c);
$NavBar-BackGround-Color: #0f0e17; // ! Add This is darker
$NavBar-BackGround-Color: #17171b;
$NavBar-BackGround-Color: #7f5af0;
$NavBar-BackGround-Color: #8d6cf2;
$NavBar-BackGround-Color: #9b7ef3; // Shift
$NavBar-BackGround-Color: $Background-1-OffPurple;
$NavBar-BackGround-Btn-Color: #eebbc3;
$NavBar-Btn-Color-Text: #232946;
$NavBar-Font-Color: $Background-2-OffWhite;
$NavBar-Font-Color: $Gray-100;

// ~ Organize
$ProjectBtn--font-color: rgb(226 230 253);
// ~

// #TechStack - Colors

$TechStack-BG-Color: #eebbc3;
$TechStack-Card-BG-Color: #fffffe;
$TechStack-Header-Color: #232946; // ! Add
$TechStack-SubHeader-Color: #d4939d; // ! ADD
// # Certification Colors

$Cert-Bg-Color: #232946;
$Cert-Top-Header: #fffffe;
$Cert-Card-Bg-Color: #fffffe;
$Cert-Header-Color: #232946; // ! ADD
$Cert-SubHeader-Color: #232946;
$Cert-Button-Bg-Color: #232946; // !
$Cert-Button-Text-Color: #b8c1ec; // Not enough contrast
$Cert-Button-Text-Color-A: #d8ddf9; // !

$Cert-Button-Focus-Bg-Color: $Background-1-OffPurple;
$Cert-Button-Focus-Text-Color: $Background-2-OffPurple;

// # ContactForm Color
$ContactForm-Bg-Color: #d4d8f0;
$Contact-Heading-Color: #232946;
$Contact-Card-Bg-Color: #fffffe;

$Contact-Btn-Color: #121629;
$Contact-Icon-Color: #232946;
$Contact-Input-Text-Color: #121629;
$Contact-Input-Border-Color: #232946;
$Contact-Input-Outline-Color: #232946;
$Contact-Btn-Bg-Color: #b8c1ec;
$Contact-Btn-Bg-Color: #eebbc3;
$Contact-Send-Btn-Bg-Color-Hover: #232946;
$Contact-Send-Btn-Color-Hover: #fffffe;

$Contact-Email-Background-Color_Hover: $Contact-Icon-Color;
$Contact-Email-Color-Hover: $Contact-Card-Bg-Color;

.NavBar-Colors {
	// background: $NavBar-PurpleBackground-;
	background-color: $NavBar-BackGround-Color;
	color: $NavBar-Font-Color;

	// text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.2);
	text-shadow: 0px 0px 1px white;

	#nav-contact-btn {
		background-color: $NavBar-BackGround-Btn-Color;
		color: $NavBar-Btn-Color-Text;
		&:hover {
			cursor: pointer;
		}
	}
	a:any-link {
		color: $NavBar-Font-Color;
	}

	/* WebKit browsers */
	a:-webkit-any-link {
		color: $NavBar-Font-Color;
	}
}

// # Font Awesome
.fab {
	// text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.6);
	// text-shadow: 0 0 2.5px rgb(0, 0, 0, , 50%);
	text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
	color: $Button-1;
}

// # .About-Color
.About-Color {
	background: $Background-1-OffPurple;
	h1,
	h2 {
		color: $Header-1-A--OffWhite; // HERE
	}
	p {
		color: $Cert-Button-Text-Color-A;
	}
}

// # .Project-Title

.Project-Color {
	.Project-Title {
		background-color: $Background-2-OffPurple;
	}
	#ProjectSection {
		background-color: $Background-2-OffPurple;
	}
	a {
		background-color: $Button-2;
		color: $Button-2-Text;
	}
	.Project-Section-Inner {
		background-color: $Background-2-OffWhite;
	}

	h1,
	h2,
	h3,
	h4 {
		color: $Header-2-A--OffPurple;
	}
	p {
		color: $Paragraph-2;
	}
	button {
		background-color: $Button-2;
		color: $Button-2-Text;
	}
}

#TechStack {
	background-color: $TechStack-BG-Color;
	#Skill-Container {
		background-color: $TechStack-Card-BG-Color;
		// border: 1px solid $TechStack-Header-Color; // ! Adjust
		box-shadow: 0px 0px 2px $Contact-Input-Text-Color;
	}
	h1,
	h2,
	h3 {
		color: $TechStack-Header-Color;
	}
}

#Certification {
	background-color: $Cert-Bg-Color;
	h1 {
		color: $Cert-Top-Header;
	}
	h2,
	h3,
	h4,
	a {
		color: $Cert-Header-Color;
	}
	.Cert-Container-Width {
		background-color: $Cert-Card-Bg-Color;
	}
	.Certification-Anchor-Btn {
		color: $Cert-Button-Text-Color-A;
		background-color: $Cert-Button-Bg-Color;
		text-shadow: 0 0 0.1px $Header-1-A--OffWhite;
		border: solid 2.5px $Contact-Input-Text-Color;
	}
}

#ContactForm {
	background-color: $ContactForm-Bg-Color;
	h1 {
		color: $Contact-Heading-Color;
	}

	#form_container {
		background-color: $Contact-Card-Bg-Color;
		font-weight: bold;
		box-shadow: 0px 0px 3px $Contact-Input-Text-Color;
		&:hover {
			background-color: $Contact-Email-Background-Color_Hover;
			box-shadow: 0px 0px 4px $Contact-Input-Text-Color;
			address {
				color: $Contact-Email-Color-Hover;
			}
		}
	}

	label,
	select,
	address,
	textarea {
		color: $Contact-Input-Text-Color;
		color: $TechStack-Header-Color;
	}
	input {
		color: $Contact-Input-Text-Color;
	}

	.form-example {
		input,
		textarea {
			border: 2.5px solid $Contact-Input-Border-Color;
		}
	}
	#sendButton {
		color: $NavBar-Btn-Color-Text;
		background-color: $NavBar-BackGround-Btn-Color;
		border: solid 2.5px $Contact-Input-Text-Color;
	}

	.fab {
		color: $Contact-Icon-Color;
		text-shadow: 0px 0px 2px $Contact-Btn-Color;
	}
}

.ContactBtnHover {
	&:hover {
		color: #fffffe;
		background-color: #232946;
		border: solid 2.5 px white;
	}
}
