$GoldenRatio: 1.61803398875;
$Global-line-height: 1.45;
$Global-line-height: 1.4;
$Global-line-height: 1.4705882353;
@use "./mediaQuerry.scss";

* {
	line-height: $Global-line-height;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	// background-color: #f4f4f4;
}

Button {
	cursor: pointer;
}

html {
	background-color: red;
}

h1,
h2,
h3,
h4 {
	line-height: $GoldenRatio;
}

li {
	list-style-position: outside;
	list-style-type: disc;
}

ol {
	margin-left: 20px;
	margin-bottom: 20px;
}

@media screen and (max-width: mediaQuerry.$Nav-BreakPoint-300) {
	#ProjectSection {
		h1 {
			// font-size: $h1_font_size - $h1-Subtraction;
			text-align: center;
			padding-bottom: 10px;
		}

		h2 {
			// font-size: $h2_font_size - $h2-Subtraction;
		}

		h3 {
			// font-size: $h3_font_size - $h3-Subtraction;
		}

		p {
			// font-size: $h3_font_size - $p-Subtraction;
		}
	}
}
