$Global-line-height: 1.4;

* {
	line-height: $Global-line-height;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	// background-color: #f4f4f4;
}

Button {
	cursor: pointer;
}
