$Desktop-4320p: 4320px;
$Desktop-2160p: 2160px;
// $Desktop-4320p: 4320px;
// $Desktop-2160p: 2160px;
$Desktop-1440p: 1440px;
$Desktop-1080p: 1080px;
$Desktop-Half-1080p: 975px;

$Nav-BreakPoint-500: 1068px;
$Nav-BreakPoint-400: 907px;
$Nav-BreakPoint-300: 850px;

$TechStack-BreakPoint-400: 742px;

$Mobile-BreakPoint-750: 750px;
$Mobile-BreakPoint-400: 480px;
$Mobile-BreakPoint-375: 454px;
$Mobile-BreakPoint-350: 450px;
$Mobile-BreakPoint-300: 430px;
$Mobile-BreakPoint-200: 425px;
$Mobile-BreakPoint-199: 424.141px; // Microsoft Cert Image Shift
