// File to hold anything related to links/anchors and scrolling

// Scrolling Snap
#About,
#CardContainer,
#ContactForm,
#SocialContainer,
#TechStack {
	scroll-margin-top: 7vh;
}
#ProjectSection {
	scroll-margin-top: 17vh;
}

html {
	scroll-behavior: smooth;
}

// Anchor/Links
a:any-link {
	text-decoration: none;
}

/* WebKit browsers */
a:-webkit-any-link {
	text-decoration: none;
}

// ScrollBar
@mixin FireFoxScrollBarCSS {
	scrollbar-color: #662763 #e4e4e4;
	scrollbar-width: thin;

	::-moz-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		-webkit-border-radius: 10px;
		border-radius: 10px;
	}
}

@mixin GoogleChromeScrollBar() {
	::-webkit-scrollbar {
		height: 12px;
		width: 12px;
		background: rgb(24, 24, 24);
		background: black;
	}

	::-webkit-scrollbar-thumb {
		background: #d4d8f0;
		border: solid black 0.5px;
		-webkit-border-radius: 1ex;
		// 		-webkit-box-shadow: 50px 50px 50px rgba(0, 0, 0, 0.75);
	}
	::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 1px rgb(255, 0, 0, 0.3);
		border-radius: 10px;
	}

	::-webkit-scrollbar-corner {
		background: #000;
	}
}

html {
	@include FireFoxScrollBarCSS();
	@include GoogleChromeScrollBar();
}

::-webkit-scrollbar-thumb:hover {
	background-color: aliceblue;
}

// https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-behavior
